*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(ul[class]) {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  max-width: 100%;
  min-height: 100%;
  line-height: 1.5;
  overflow-x: hidden;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.pixel-perfect-image {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(145%) scale(3.9);
  opacity: 0.5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, li, a, td, button, label, span {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
}

ul {
  list-style-type: none;
}

.scrollUp {
  position: fixed;
  width: 64px;
  height: 64px;
  background: url(../images/arrowupIcon_w64.svg) no-repeat center/cover;
  left: 90%;
  top: 90%;
  opacity: 0.7;
}
@media (max-width: 420px) {
  .scrollUp {
    width: 48px;
    height: 48px;
    background-image: url(../images/arrowupIcon_w48.svg);
    left: 80%;
  }
}

.text {
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 1px;
  color: black;
}
@media (max-width: 1720px) {
  .text {
    font-size: 20px;
  }
}
@media (max-width: 1199px) {
  .text {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .text {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .text {
    width: 90%;
    font-size: 24px;
    padding-bottom: 12px;
  }
}
@media (max-width: 420px) {
  .text {
    width: 90%;
    font-size: 16px;
    padding-bottom: 12px;
  }
}
.text_red {
  color: #fe0000;
}
.text_white {
  color: #fefefe;
}
.text_uppercase {
  text-transform: uppercase;
}
.text_width_100 {
  width: 100%;
}

.logo {
  width: 320px;
  height: 80px;
  background-color: #fefefe;
  background: url(../images/logo_w320.svg) no-repeat center/cover;
}
@media (max-width: 1339px) {
  .logo {
    width: 240px;
    height: 60px;
    background-image: url(../images/logo_w240.svg);
  }
}
@media (max-width: 991px) {
  .logo {
    width: 120px;
    height: 30px;
    background-image: url(../images/logo_w120.svg);
  }
}
@media (max-width: 767px) {
  .logo {
    width: 320px;
    height: 80px;
    background-image: url(../images/logo_w320.svg);
  }
}
@media (max-width: 420px) {
  .logo {
    width: 240px;
    height: 60px;
    background-image: url(../images/logo_w240.svg);
  }
}

.heading {
  text-transform: uppercase;
  font-size: 76px;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 10px;
}
@media (max-width: 1400px) {
  .heading {
    font-size: 68px;
  }
}
@media (max-width: 1339px) {
  .heading {
    font-size: 60px;
  }
}
@media (max-width: 1199px) {
  .heading {
    font-size: 52px;
  }
}
@media (max-width: 991px) {
  .heading {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .heading {
    font-size: 76px;
  }
}
@media (max-width: 420px) {
  .heading {
    font-size: 48px;
  }
}
.heading_line-height_1 {
  line-height: 1;
}
.heading_small {
  font-size: 80px;
}
@media (max-width: 1400px) {
  .heading_small {
    font-size: 60px;
  }
}
@media (max-width: 1199px) {
  .heading_small {
    font-size: 48px;
  }
}

.link_nodecoration {
  text-decoration: none;
}

.button {
  display: flex;
  width: 290px;
  height: 64px;
  background-color: #fefefe;
  border: 2px solid #fefefe;
  margin-right: 28px;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 64px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}
@media (max-width: 1199px) {
  .button {
    width: 218px;
    height: 48px;
    font-size: 16px;
    line-height: 1;
  }
}
.button_black {
  background-color: black;
  border: 5px solid black;
  color: #fefefe;
}
.button_transparent {
  background-color: transparent;
  color: #fefefe;
}
.button_small {
  width: 64px;
  padding-top: 8px;
  background: url(../images/menuIcon64.svg) no-repeat center/cover;
}
@media (max-width: 1199px) {
  .button_small {
    width: 48px;
    height: 48px;
    background-image: url(../images/menuIcon_48.svg);
    padding-top: 6px;
  }
}
.button-inactive {
  cursor: not-allowed;
  background-color: rgba(219, 219, 219, 0.5);
}
.button-inactive:hover {
  background-color: rgba(219, 219, 219, 0.2);
}

.item_shadow {
  background-color: #fefefe;
  box-shadow: 2px 2px 0 0 black;
}

.item__heading {
  margin-top: 64px;
  font-size: 52px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .item__heading {
    margin-top: 48px;
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .item__heading {
    margin-top: 48px;
    font-size: 64px;
  }
}
@media (max-width: 767px) {
  .item__heading {
    margin-top: 40px;
    font-size: 48px;
  }
}
.item__heading_small {
  margin-top: 40px;
  font-size: 28px;
}
@media (max-width: 1720px) {
  .item__heading_small {
    margin-top: 24px;
  }
}
@media (max-width: 1400px) {
  .item__heading_small {
    margin-top: 8px;
  }
}
@media (max-width: 1339px) {
  .item__heading_small {
    margin-top: 0;
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .item__heading_small {
    margin-top: 0;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .item__heading_small {
    margin-top: 20px;
    font-size: 28px;
  }
}
@media (max-width: 420px) {
  .item__heading_small {
    margin-top: 8px;
    font-size: 24px;
  }
}

.item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media (max-width: 767px) {
  .item__image {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}

.item__text {
  width: 75%;
  margin-top: 20px;
}
.item__text_small {
  width: 95%;
}
@media (max-width: 1339px) {
  .item__text_small {
    margin-top: 12px;
  }
}
@media (max-width: 1720px) {
  .item__text {
    margin-top: 12px;
  }
}
@media (max-width: 1199px) {
  .item__text {
    width: 85%;
    margin-top: 8px;
  }
}
@media (max-width: 991px) {
  .item__text {
    width: 95%;
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .item__text {
    width: 75%;
  }
}
@media (max-width: 420px) {
  .item__text {
    margin-top: 8px;
  }
}

.devider {
  width: 100%;
  height: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  background-color: black;
}
.devider_red {
  background-color: #fe0000;
}
.devider_yellow {
  background-color: #fdcd00;
}

.header {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 40% 1fr;
  gap: 20px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
}
@media (max-width: 991px) {
  .header {
    grid-template-columns: 1fr 50% 1fr;
  }
}
@media (max-width: 767px) {
  .header {
    grid-template-columns: 1fr 1% 1fr;
  }
}
@media (max-width: 1339px) {
  .header {
    padding: 4px;
  }
}

.modal-window__logo {
  margin: 0 auto;
  margin-top: 64px;
}

.navigation {
  text-align: center;
}

.header__interactive {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 767px) {
  .header__interactive {
    justify-content: space-between;
  }
}
@media (max-width: 420px) {
  .header__interactive {
    justify-content: end;
  }
}

.navigation__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-align: left;
  padding: 0;
}
@media (max-width: 767px) {
  .navigation__content {
    display: none;
  }
}
.navigation__content_column {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin-top: 32px;
  flex-direction: column;
}

.navigation__item {
  display: inline-block;
  padding: 0 12px;
  margin: 0;
  text-transform: capitalize;
  font-size: 28px;
  letter-spacing: 2px;
}
@media (max-width: 1720px) {
  .navigation__item {
    font-size: 20px;
  }
}
@media (max-width: 1400px) {
  .navigation__item {
    font-size: 16px;
  }
}
@media (max-width: 1199px) {
  .navigation__item {
    padding: 0 8px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}
@media (max-width: 991px) {
  .navigation__item {
    padding: 0 4px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

.header__contacts {
  text-align: right;
  letter-spacing: 2px;
  font-size: 28px;
  padding-right: 40px;
}
@media (max-width: 1199px) {
  .header__contacts {
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  .header__contacts {
    padding-right: 16px;
  }
}
@media (max-width: 420px) {
  .header__contacts {
    display: none;
  }
}

.header__button {
  margin-right: 12px;
}

.modal-window {
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 26%;
  left: 74%;
  top: 0%;
  border: none;
}
@media (max-width: 1199px) {
  .modal-window {
    width: 30%;
    left: 70%;
  }
}
@media (max-width: 991px) {
  .modal-window {
    width: 35%;
    left: 65%;
  }
}
@media (max-width: 767px) {
  .modal-window {
    width: 100%;
    min-width: 100%;
    left: 0;
  }
}

.modal-window__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  padding: 20px;
}
@media (max-width: 767px) {
  .modal-window__content {
    align-items: center;
  }
}

.scroll-lock {
  overflow: hidden;
}

.modal__button_close {
  width: 48px;
  height: 48px;
  border: none;
  background-color: #fefefe;
  background-image: url(../images/closeIcon48.svg);
  align-self: flex-end;
}

.navigation__item_block {
  display: block;
  margin-bottom: 40px;
  text-transform: capitalize;
  font-size: 20px;
}
@media (max-width: 767px) {
  .navigation__item_block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.modal-window__button {
  margin-top: 28px;
  margin-bottom: 28px;
  width: 72%;
  height: 68px;
  line-height: 3;
  background-color: black;
  color: #fefefe;
}
@media (max-width: 767px) {
  .modal-window__button {
    width: 50%;
    margin-right: 0;
  }
}

.modal-window__contacts {
  padding-top: 28px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
}

.common {
  width: 100vw;
  max-width: 100%;
  background-color: #fefefe;
}

.section-common {
  padding-top: 0px;
  padding-bottom: 144px;
}
@media (max-width: 1720px) {
  .section-common {
    padding-top: 0px;
    padding-bottom: 100px;
  }
}
@media (max-width: 420px) {
  .section-common {
    padding-top: 0px;
    padding-bottom: 20px;
  }
}

.common-information__heading {
  width: 55%;
  margin-top: 40px;
  margin-bottom: 20px;
}

.common-information {
  padding: 20px;
}
@media (max-width: 1339px) {
  .common-information {
    padding: 16px;
  }
}

.common-advantages {
  padding: 20px;
  margin-bottom: 20px;
}

.common-information {
  background-image: url("../images/common/jpg_f/bg__common_w1920_@1x.jpg");
  background-image: -webkit-image-set(url("../images/common/webp_f/bg__common_w1920_@3x.webp") 3x, url("../images/common/webp_f/bg__common_w1920_@2x.webp") 2x, url("../images/common/webp_f/bg__common_w1920_@1x.webp") 1x, url("../images/common/jpg_f/bg__common_w1920_@3x.jpg") 3x, url("../images/common/jpg_f/bg__common_w1920_@2x.jpg") 2x, url("../images/common/jpg_f/bg__common_w1920_@1x.jpg") 1x);
  background-image: image-set(url("../images/common/webp_f/bg__common_w1920_@3x.webp") type("image/webp") 3x, url("../images/common/webp_f/bg__common_w1920_@2x.webp") type("image/webp") 2x, url("../images/common/webp_f/bg__common_w1920_@1x.webp") type("image/webp") 1x, url("../images/common/jpg_f/bg__common_w1920_@3x.jpg") type("image/jpeg") 3x, url("../images/common/jpg_f/bg__common_w1920_@2x.jpg") type("image/jpeg") 2x, url("../images/common/jpg_f/bg__common_w1920_@1x.jpg") type("image/jpeg") 1x);
  background-position: no-repeat;
  background-size: cover;
}
@media (max-width: 1720px) {
  .common-information {
    background-image: url("../images/common/jpg_f/bg__common_w1720_@1x.jpg");
    background-image: -webkit-image-set(url("../images/common/webp_f/bg__common_w1720_@3x.webp") 3x, url("../images/common/webp_f/bg__common_w1720_@2x.webp") 2x, url("../images/common/webp_f/bg__common_w1720_@1x.webp") 1x, url("../images/common/jpg_f/bg__common_w1720_@3x.jpg") 3x, url("../images/common/jpg_f/bg__common_w1720_@2x.jpg") 2x, url("../images/common/jpg_f/bg__common_w1720_@1x.jpg") 1x);
    background-image: image-set(url("../images/common/webp_f/bg__common_w1720_@3x.webp") type("image/webp") 3x, url("../images/common/webp_f/bg__common_w1720_@2x.webp") type("image/webp") 2x, url("../images/common/webp_f/bg__common_w1720_@1x.webp") type("image/webp") 1x, url("../images/common/jpg_f/bg__common_w1720_@3x.jpg") type("image/jpeg") 3x, url("../images/common/jpg_f/bg__common_w1720_@2x.jpg") type("image/jpeg") 2x, url("../images/common/jpg_f/bg__common_w1720_@1x.jpg") type("image/jpeg") 1x);
  }
}
@media (max-width: 1400px) {
  .common-information {
    background-image: url("../images/common/jpg_f/bg__common_w1400_@1x.jpg");
    background-image: -webkit-image-set(url("../images/common/webp_f/bg__common_w1400_@3x.webp") 3x, url("../images/common/webp_f/bg__common_w1400_@2x.webp") 2x, url("../images/common/webp_f/bg__common_w1400_@1x.webp") 1x, url("../images/common/jpg_f/bg__common_w1400_@3x.jpg") 3x, url("../images/common/jpg_f/bg__common_w1400_@2x.jpg") 2x, url("../images/common/jpg_f/bg__common_w1400_@1x.jpg") 1x);
    background-image: image-set(url("../images/common/webp_f/bg__common_w1400_@3x.webp") type("image/webp") 3x, url("../images/common/webp_f/bg__common_w1400_@2x.webp") type("image/webp") 2x, url("../images/common/webp_f/bg__common_w1400_@1x.webp") type("image/webp") 1x, url("../images/common/jpg_f/bg__common_w1400_@3x.jpg") type("image/jpeg") 3x, url("../images/common/jpg_f/bg__common_w1400_@2x.jpg") type("image/jpeg") 2x, url("../images/common/jpg_f/bg__common_w1400_@1x.jpg") type("image/jpeg") 1x);
  }
}
@media (max-width: 1199px) {
  .common-information {
    background-image: url("../images/common/jpg_f/bg__common_w1200_@1x.jpg");
    background-image: -webkit-image-set(url("../images/common/webp_f/bg__common_w1200_@3x.webp") 3x, url("../images/common/webp_f/bg__common_w1200_@2x.webp") 2x, url("../images/common/webp_f/bg__common_w1200_@1x.webp") 1x, url("../images/common/jpg_f/bg__common_w1200_@3x.jpg") 3x, url("../images/common/jpg_f/bg__common_w1200_@2x.jpg") 2x, url("../images/common/jpg_f/bg__common_w1200_@1x.jpg") 1x);
    background-image: image-set(url("../images/common/webp_f/bg__common_w1200_@3x.webp") type("image/webp") 3x, url("../images/common/webp_f/bg__common_w1200_@2x.webp") type("image/webp") 2x, url("../images/common/webp_f/bg__common_w1200_@1x.webp") type("image/webp") 1x, url("../images/common/jpg_f/bg__common_w1200_@3x.jpg") type("image/jpeg") 3x, url("../images/common/jpg_f/bg__common_w1200_@2x.jpg") type("image/jpeg") 2x, url("../images/common/jpg_f/bg__common_w1200_@1x.jpg") type("image/jpeg") 1x);
  }
}
@media (max-width: 991px) {
  .common-information {
    background-image: url("../images/common/jpg_f/bg__common_w990_@1x.jpg");
    background-image: -webkit-image-set(url("../images/common/webp_f/bg__common_w990_@3x.webp") 3x, url("../images/common/webp_f/bg__common_w990_@2x.webp") 2x, url("../images/common/webp_f/bg__common_w990_@1x.webp") 1x, url("../images/common/jpg_f/bg__common_w990_@3x.jpg") 3x, url("../images/common/jpg_f/bg__common_w990_@2x.jpg") 2x, url("../images/common/jpg_f/bg__common_w990_@1x.jpg") 1x);
    background-image: image-set(url("../images/common/webp_f/bg__common_w990_@3x.webp") type("image/webp") 3x, url("../images/common/webp_f/bg__common_w990_@2x.webp") type("image/webp") 2x, url("../images/common/webp_f/bg__common_w990_@1x.webp") type("image/webp") 1x, url("../images/common/jpg_f/bg__common_w990_@3x.jpg") type("image/jpeg") 3x, url("../images/common/jpg_f/bg__common_w990_@2x.jpg") type("image/jpeg") 2x, url("../images/common/jpg_f/bg__common_w990_@1x.jpg") type("image/jpeg") 1x);
  }
}
@media (max-width: 767px) {
  .common-information {
    background-image: url("../images/common/jpg_f/bg__common_w767_@1x.jpg");
    background-image: -webkit-image-set(url("../images/common/webp_f/bg__common_w767_@3x.webp") 3x, url("../images/common/webp_f/bg__common_w767_@2x.webp") 2x, url("../images/common/webp_f/bg__common_w767_@1x.webp") 1x, url("../images/common/jpg_f/bg__common_w767_@3x.jpg") 3x, url("../images/common/jpg_f/bg__common_w767_@2x.jpg") 2x, url("../images/common/jpg_f/bg__common_w767_@1x.jpg") 1x);
    background-image: image-set(url("../images/common/webp_f/bg__common_w767_@3x.webp") type("image/webp") 3x, url("../images/common/webp_f/bg__common_w767_@2x.webp") type("image/webp") 2x, url("../images/common/webp_f/bg__common_w767_@1x.webp") type("image/webp") 1x, url("../images/common/jpg_f/bg__common_w767_@3x.jpg") type("image/jpeg") 3x, url("../images/common/jpg_f/bg__common_w767_@2x.jpg") type("image/jpeg") 2x, url("../images/common/jpg_f/bg__common_w767_@1x.jpg") type("image/jpeg") 1x);
  }
}
@media (max-width: 420px) {
  .common-information {
    background-image: url("../images/common/jpg_f/bg__common_w420_@1x.jpg");
    background-image: -webkit-image-set(url("../images/common/webp_f/bg__common_w420_@3x.webp") 3x, url("../images/common/webp_f/bg__common_w420_@2x.webp") 2x, url("../images/common/webp_f/bg__common_w420_@1x.webp") 1x, url("../images/common/jpg_f/bg__common_w420_@3x.jpg") 3x, url("../images/common/jpg_f/bg__common_w420_@2x.jpg") 2x, url("../images/common/jpg_f/bg__common_w420_@1x.jpg") 1x);
    background-image: image-set(url("../images/common/webp_f/bg__common_w420_@3x.webp") type("image/webp") 3x, url("../images/common/webp_f/bg__common_w420_@2x.webp") type("image/webp") 2x, url("../images/common/webp_f/bg__common_w420_@1x.webp") type("image/webp") 1x, url("../images/common/jpg_f/bg__common_w420_@3x.jpg") type("image/jpeg") 3x, url("../images/common/jpg_f/bg__common_w420_@2x.jpg") type("image/jpeg") 2x, url("../images/common/jpg_f/bg__common_w420_@1x.jpg") type("image/jpeg") 1x);
  }
}
@media (max-width: 340px) {
  .common-information {
    background-image: url("../images/common/jpg_f/bg__common_w340_@1x.jpg");
    background-image: -webkit-image-set(url("../images/common/webp_f/bg__common_w340_@3x.webp") 3x, url("../images/common/webp_f/bg__common_w340_@2x.webp") 2x, url("../images/common/webp_f/bg__common_w340_@1x.webp") 1x, url("../images/common/jpg_f/bg__common_w340_@3x.jpg") 3x, url("../images/common/jpg_f/bg__common_w340_@2x.jpg") 2x, url("../images/common/jpg_f/bg__common_w340_@1x.jpg") 1x);
    background-image: image-set(url("../images/common/webp_f/bg__common_w340_@3x.webp") type("image/webp") 3x, url("../images/common/webp_f/bg__common_w340_@2x.webp") type("image/webp") 2x, url("../images/common/webp_f/bg__common_w340_@1x.webp") type("image/webp") 1x, url("../images/common/jpg_f/bg__common_w340_@3x.jpg") type("image/jpeg") 3x, url("../images/common/jpg_f/bg__common_w340_@2x.jpg") type("image/jpeg") 2x, url("../images/common/jpg_f/bg__common_w340_@1x.jpg") type("image/jpeg") 1x);
  }
}

.common-advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
  justify-content: space-between;
  align-items: normal;
  background-color: #fefefe;
}
@media (max-width: 767px) {
  .common-advantages {
    display: block;
  }
}

.common-information__button {
  margin-top: 60px;
  margin-bottom: 44px;
}
@media (max-width: 420px) {
  .common-information__button {
    margin-top: 42px;
    margin-bottom: 24px;
  }
}

.subtitle {
  width: 30%;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.1;
  color: #fefefe;
  margin-bottom: 40px;
}
@media (max-width: 1720px) {
  .subtitle {
    width: 35%;
  }
}
@media (max-width: 1400px) {
  .subtitle {
    width: 42%;
  }
}
@media (max-width: 1339px) {
  .subtitle {
    width: 40%;
  }
}
@media (max-width: 1199px) {
  .subtitle {
    width: 45%;
  }
}
@media (max-width: 991px) {
  .subtitle {
    font-size: 16px;
    width: 40%;
  }
}
@media (max-width: 767px) {
  .subtitle {
    font-size: 24px;
    width: 75%;
  }
}
@media (max-width: 420px) {
  .subtitle {
    font-size: 20px;
    letter-spacing: 1px;
    width: 100%;
  }
}

.advantages {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
  justify-content: space-between;
  align-items: normal;
  grid-template-rows: auto auto;
  row-gap: 16px;
  padding: 20px;
}
@media (max-width: 767px) {
  .advantages {
    display: block;
  }
}
@media (max-width: 1339px) {
  .advantages {
    padding: 16px;
  }
}

@media (max-width: 767px) {
  .advantages__heading {
    padding-bottom: 48px;
  }
}

.section-advantages {
  padding-top: 60px;
  padding-bottom: 144px;
}
@media (max-width: 1720px) {
  .section-advantages {
    padding-top: 48px;
    padding-bottom: 100px;
  }
}

.advantages-item__heading {
  padding: 0;
  margin-top: 12px;
}
@media (max-width: 991px) {
  .advantages-item__heading {
    margin-top: 48px;
  }
}

.services {
  width: 100vw;
  max-width: 100%;
  padding: 20px;
}
@media (max-width: 1339px) {
  .services {
    padding: 16px;
  }
}

.section-services {
  padding-top: 60px;
  padding-bottom: 144px;
}
@media (max-width: 1720px) {
  .section-services {
    padding-top: 48px;
    padding-bottom: 100px;
  }
}
@media (max-width: 420px) {
  .section-services {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.services__elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
  justify-content: normal;
  align-items: normal;
  grid-template-rows: repeat(2, 38%);
}
@media (max-width: 767px) {
  .services__elements {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

.services__heading {
  padding-bottom: 52px;
}

.services__item {
  margin: 0 auto;
  padding: 20px;
  padding-left: 60px;
}
@media (max-width: 1720px) {
  .services__item {
    padding-left: 40px;
  }
}
@media (max-width: 1339px) {
  .services__item {
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media (max-width: 1199px) {
  .services__item {
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .services__item {
    width: 70%;
  }
}
@media (max-width: 420px) {
  .services__item {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .services__item_crop {
    width: 70%;
  }
}
@media (max-width: 420px) {
  .services__item_crop {
    width: 90%;
  }
}

.services__header_small {
  font-size: 24px;
}

.cost {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
  justify-content: end;
  align-items: normal;
  row-gap: 0;
  padding: 20px;
}
@media (max-width: 767px) {
  .cost {
    display: block;
  }
}
@media (max-width: 1339px) {
  .cost {
    padding: 16px;
  }
}

.cost__heading {
  width: 50%;
}
@media (max-width: 767px) {
  .cost__heading {
    padding-bottom: 48px;
  }
}

.section-cost {
  padding-top: 60px;
  padding-bottom: 144px;
}
@media (max-width: 1720px) {
  .section-cost {
    padding-top: 48px;
    padding-bottom: 100px;
  }
}

.cost__table {
  grid-column: 2/span 2;
  border-collapse: collapse;
}
@media (max-width: 767px) {
  .cost__table {
    width: 100%;
    margin-top: 24px;
  }
}

.cost__cost {
  text-align: right;
  font-weight: 500;
  table-layout: auto;
  width: 100px;
  white-space: nowrap;
}

.cost__row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.cost__name, .cost__cost {
  padding-top: 16px;
  padding-bottom: 8px;
}
@media (max-width: 420px) {
  .cost__name, .cost__cost {
    padding-top: 8px;
    padding-bottom: 4px;
  }
}

.portfolio {
  width: 100vw;
  max-width: 100%;
  padding: 20px;
}
@media (max-width: 1339px) {
  .portfolio {
    padding: 16px;
  }
}

.section-portfolio {
  padding-top: 60px;
  padding-bottom: 144px;
}
@media (max-width: 1720px) {
  .section-portfolio {
    padding-top: 48px;
    padding-bottom: 100px;
  }
}

.portfolio__heading {
  padding-top: 20px;
}

.portfolio__content {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: normal;
  align-items: normal;
  gap: 64px 20px;
  height: 2200px;
  width: 100%;
}
@media (max-width: 1339px) {
  .portfolio__content {
    height: 2000px;
  }
}
@media (max-width: 1199px) {
  .portfolio__content {
    height: 1200px;
    gap: 36px 16px;
  }
}
@media (max-width: 767px) {
  .portfolio__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 4500px;
  }
}
@media (max-width: 420px) {
  .portfolio__content {
    flex-direction: column;
    align-items: center;
    column-gap: 12px;
    height: auto;
  }
}

.portfolio__item {
  width: 31%;
}

.portfolio__item_normal {
  height: 672px;
}
@media (max-width: 1339px) {
  .portfolio__item_normal {
    height: 592px;
  }
}
@media (max-width: 1199px) {
  .portfolio__item_normal {
    height: 350px;
  }
}
@media (max-width: 767px) {
  .portfolio__item_normal {
    width: 600px;
    height: 600px;
  }
}
@media (max-width: 420px) {
  .portfolio__item_normal {
    width: 300px;
    height: 300px;
  }
}

.portfolio__item_small {
  height: 384px;
}
@media (max-width: 1339px) {
  .portfolio__item_small {
    height: 300px;
  }
}
@media (max-width: 1199px) {
  .portfolio__item_small {
    height: 200px;
  }
}
@media (max-width: 767px) {
  .portfolio__item_small {
    width: 600px;
    height: 600px;
  }
}
@media (max-width: 420px) {
  .portfolio__item_small {
    width: 300px;
    height: 300px;
  }
}

.portfolio__item:nth-child(3n+1) {
  order: 1;
}

.portfolio__item:nth-child(3n+2) {
  order: 2;
}

.portfolio__item:nth-child(3n) {
  order: 3;
}

@media (min-width: 767px) {
  .portfolio__content::before,
  .portfolio__content::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  }
}

.stages {
  width: 100vw;
  max-width: 100%;
  padding: 20px;
}
@media (max-width: 1339px) {
  .stages {
    padding: 16px;
  }
}

.section-stages {
  padding-top: 60px;
  padding-bottom: 144px;
}
@media (max-width: 1720px) {
  .section-stages {
    padding-top: 48px;
    padding-bottom: 100px;
  }
}
@media (max-width: 420px) {
  .section-stages {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.stages__heading {
  padding-bottom: 52px;
}

@media (max-width: 767px) {
  .table_scroll {
    width: 100%;
    overflow-x: scroll;
  }
}

.stages__table {
  border-collapse: collapse;
  table-layout: fixed;
}
@media (max-width: 767px) {
  .stages__table {
    width: 300%;
  }
}

.stages__stage {
  background-color: black;
  box-shadow: -2px 0 0 0 #fefefe;
  border-radius: 3px 0 0 3px;
  padding: 20px;
  color: #fefefe;
  font-weight: 300;
  line-height: 1;
}
@media (max-width: 1199px) {
  .stages__stage {
    padding: 12px;
  }
}

.stages__name, .stages__description {
  padding: 16px;
  line-height: 1.2;
}
@media (max-width: 1199px) {
  .stages__name, .stages__description {
    padding: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.stages__name {
  width: 20%;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
}
@media (max-width: 1199px) {
  .stages__name {
    font-size: 12px;
    font-weight: 700;
  }
}
@media (max-width: 767px) {
  .stages__name {
    min-width: 50%;
    font-size: 24px;
  }
}
@media (max-width: 420px) {
  .stages__name {
    min-width: 50%;
    font-size: 16px;
  }
}

.stages__description {
  vertical-align: top;
  line-height: 1;
}

.stages__button {
  float: right;
  margin: 0;
  margin-top: 44px;
}
@media (max-width: 1199px) {
  .stages__button {
    margin-top: 24px;
  }
}

.faq {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
  justify-content: space-between;
  align-items: normal;
  padding: 20px;
}
@media (max-width: 767px) {
  .faq {
    display: block;
  }
}
@media (max-width: 1339px) {
  .faq {
    padding: 16px;
  }
}

.faq__heading {
  width: 50%;
}

.section-faq {
  padding-top: 184px;
  padding-bottom: 144px;
}
@media (max-width: 1720px) {
  .section-faq {
    padding-top: 140px;
    padding-bottom: 100px;
  }
}

.faq__questions {
  grid-column: 2/span 2;
}

.list__btn:focus-visible {
  outline: 2px solid;
  outline-offset: -3px;
}

.list {
  background-color: #fefefe;
}

.list__item {
  padding-top: 20px;
}

.list__btn {
  display: grid;
  width: 100%;
  align-items: center;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background: transparent;
  padding: 0 0 20px 0;
  text-align: left;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 600;
}
@media (max-width: 1339px) {
  .list__btn {
    font-size: 20px;
    padding: 0 0 12px 0;
  }
}
@media (max-width: 991px) {
  .list__btn {
    font-size: 12px;
    padding: 0 0 8px 0;
  }
}
@media (max-width: 767px) {
  .list__btn {
    font-size: 16px;
    padding: 0 0 8px 0;
  }
}

.form {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
  justify-content: normal;
  align-items: normal;
  padding: 20px;
  background-color: black;
}
@media (max-width: 767px) {
  .form {
    display: block;
  }
}
@media (max-width: 1339px) {
  .form {
    padding: 16px;
  }
}

.section-form {
  padding-top: 232px;
  padding-bottom: 196px;
}
@media (max-width: 1720px) {
  .section-form {
    padding-top: 188px;
    padding-bottom: 152px;
  }
}
@media (max-width: 767px) {
  .section-form {
    padding-top: 64px;
    padding-bottom: 152px;
  }
}

.form__links {
  padding-top: 88px;
  display: flex;
  gap: 56px;
}
@media (max-width: 767px) {
  .form__links {
    width: 100%;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.form_link {
  width: 48px;
  height: 48px;
  background-color: #fefefe;
  border-radius: 100%;
}

.form__text {
  padding-top: 24px;
  padding-bottom: 44px;
}
@media (max-width: 1199px) {
  .form__text {
    padding-top: 12px;
    padding-bottom: 20px;
  }
}

.form__heading {
  width: 93%;
  font-size: 72px;
  letter-spacing: 1px;
  padding-bottom: 68px;
  font-weight: 600;
}
@media (max-width: 1720px) {
  .form__heading {
    font-size: 48px;
  }
}
@media (max-width: 991px) {
  .form__heading {
    font-size: 36px;
  }
}
@media (max-width: 991px) {
  .form__heading {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .form__heading {
    font-size: 48px;
  }
}
@media (max-width: 420px) {
  .form__heading {
    font-size: 36px;
  }
}

.form__links_main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: normal;
  gap: 104px;
}
@media (max-width: 767px) {
  .form__links_main {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
}

.form__group {
  padding-bottom: 16px;
}

.form__input {
  width: 100%;
  border: none;
  border-bottom: 5px solid rgb(117, 117, 117);
  background-color: transparent;
  outline: none;
  padding: 20px;
  padding-top: 44px;
  color: #fefefe;
  font-size: 28px;
}
@media (max-width: 1339px) {
  .form__input {
    padding: 12px;
    padding-top: 32px;
    font-size: 20px;
  }
}

.form__btn {
  width: 100%;
  margin-top: 28px;
  margin-right: 0;
}
@media (max-width: 767px) {
  .form__btn {
    display: block;
    width: 80%;
    margin: 32px auto;
  }
}

.form__checkbox {
  line-height: 1;
  color: #fefefe;
  padding-top: 10px;
}

.input__checkbox {
  display: block;
  transform: scale(2.5);
  margin-top: 24px;
  margin-left: 12px;
}

.form__group-line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: flex-start;
  gap: 44px;
}

.form__empty-error {
  padding: 10px 0;
  font-size: 20px;
  color: #fdcd00;
}

.form__error-active {
  display: block;
  color: #fdcd00;
}

.form__type-input-error {
  border: 1px solid #fdcd00;
  background-color: rgba(117, 117, 117, 0.1);
}

.footer {
  width: 100vw;
  max-width: 100%;
  padding: 20px;
  background-color: black;
}
@media (max-width: 1339px) {
  .footer {
    padding: 16px;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: normal;
}
.footer__contacts .text {
  font-size: 16px;
}
@media (max-width: 767px) {
  .footer__contacts {
    flex-direction: column;
  }
}

.footer__heading {
  padding-bottom: 244px;
}
@media (max-width: 1339px) {
  .footer__heading {
    padding-bottom: 200px;
  }
}
@media (max-width: 991px) {
  .footer__heading {
    padding-bottom: 160px;
  }
}
@media (max-width: 420px) {
  .footer__heading {
    padding-bottom: 100px;
  }
}

.footer__contact {
  color: #fefefe;
  padding-bottom: 64px;
  font-weight: 300;
}
@media (max-width: 1339px) {
  .footer__contact {
    padding-bottom: 20px;
  }
}