<section class="services section-services" id="services">
    <h2 class="heading heading_small services__heading">услуги</h2>
    <div class="services__elements">
        <div class="item item_shadow services__item">
            <h2 class="item__heading item__heading_small">полная смета</h2>
            <h3 class="text item__text item__text_small">Соблюдаем баланс между вашими желаниями и бюджетом, помогаем сэкономить на ремонте без ущерба для качества</h3>
        </div>
        <div class="item item_shadow services__item">
            <h2 class="item__heading item__heading_small">приемка основания</h2>
            <h3 class="text item__text item__text_small">Проверяем качество и ровность основания, выявляем возможные проблемы, поскольку это залог успешного завершения малярных работ</h3>
        </div>
        <div class="item services__item_crop">
            <picture>
                <source
                    type="image/webp"
                    srcset="
                        ./images/services/webp_f/services_1_h164_@1x.webp 1x,
                        ./images/services/webp_f/services_1_h164_@2x.webp 2x,
                        ./images/services/webp_f/services_1_h164_@3x.webp 3x"
                    media="(max-width: 340px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/services/webp_f/services_1_h232_@1x.webp 1x,
                        ./images/services/webp_f/services_1_h232_@2x.webp 2x,
                        ./images/services/webp_f/services_1_h232_@3x.webp 3x"
                    media="(max-width: 420px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/services/webp_f/services_1_h340_@1x.webp 1x,
                        ./images/services/webp_f/services_1_h340_@2x.webp 2x,
                        ./images/services/webp_f/services_1_h340_@3x.webp 3x"
                    media="(max-width: 767px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/services/webp_f/services_1_h164_@1x.webp 1x,
                        ./images/services/webp_f/services_1_h164_@2x.webp 2x,
                        ./images/services/webp_f/services_1_h164_@3x.webp 3x"
                    media="(max-width: 990px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/services/webp_f/services_1_h200_@1x.webp 1x,
                        ./images/services/webp_f/services_1_h200_@2x.webp 2x,
                        ./images/services/webp_f/services_1_h200_@3x.webp 3x"
                    media="(max-width: 1200px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/services/webp_f/services_1_h232_@1x.webp 1x,
                        ./images/services/webp_f/services_1_h232_@2x.webp 2x,
                        ./images/services/webp_f/services_1_h232_@3x.webp 3x"
                    media="(max-width: 1400px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/services/webp_f/services_1_h320_@1x.webp 1x,
                        ./images/services/webp_f/services_1_h320_@2x.webp 2x,
                        ./images/services/webp_f/services_1_h320_@3x.webp 3x"
                    media="(max-width: 1720px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/services/webp_f/services_1_h340_@1x.webp 1x,
                        ./images/services/webp_f/services_1_h340_@2x.webp 2x,
                        ./images/services/webp_f/services_1_h340_@3x.webp 3x"
                    media="(max-width: 1920px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/services/jpg_f/services_1_h164_@1x.jpg 1x,
                        ./images/services/jpg_f/services_1_h164_@2x.jpg 2x,
                        ./images/services/jpg_f/services_1_h164_@3x.jpg 3x"
                    media="(max-width: 340px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/services/jpg_f/services_1_h232_@1x.jpg 1x,
                        ./images/services/jpg_f/services_1_h232_@2x.jpg 2x,
                        ./images/services/jpg_f/services_1_h232_@3x.jpg 3x"
                    media="(max-width: 420px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/services/jpg_f/services_1_h340_@1x.jpg 1x,
                        ./images/services/jpg_f/services_1_h340_@2x.jpg 2x,
                        ./images/services/jpg_f/services_1_h340_@3x.jpg 3x"
                    media="(max-width: 767px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/services/jpg_f/services_1_h164_@1x.jpg 1x,
                        ./images/services/jpg_f/services_1_h164_@2x.jpg 2x,
                        ./images/services/jpg_f/services_1_h164_@3x.jpg 3x"
                    media="(max-width: 990px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/services/jpg_f/services_1_h200_@1x.jpg 1x,
                        ./images/services/jpg_f/services_1_h200_@2x.jpg 2x,
                        ./images/services/jpg_f/services_1_h200_@3x.jpg 3x"
                    media="(max-width: 1200px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/services/jpg_f/services_1_h232_@1x.jpg 1x,
                        ./images/services/jpg_f/services_1_h232_@2x.jpg 2x,
                        ./images/services/jpg_f/services_1_h232_@3x.jpg 3x"
                    media="(max-width: 1400px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/services/jpg_f/services_1_h320_@1x.jpg 1x,
                        ./images/services/jpg_f/services_1_h320_@2x.jpg 2x,
                        ./images/services/jpg_f/services_1_h320_@3x.jpg 3x"
                    media="(max-width: 1720px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/services/jpg_f/services_1_h340_@1x.jpg 1x,
                        ./images/services/jpg_f/services_1_h340_@2x.jpg 2x,
                        ./images/services/jpg_f/services_1_h340_@3x.jpg 3x"
                    media="(max-width: 1920px)"/>
                <img class="item__image" src="./images/services/jpg_f/services_1_h340_@1x.jpg" alt="Светлые стены">
            </picture>
        </div>
        <div class="item item_shadow services__item">
            <h2 class="item__heading item__heading_small">малярные работы</h2>
            <h3 class="text item__text item__text_small">Выполняем все виды малярных работ: выравниваем поверхность, красим, клеим стеклохолст, грунтуем стены и потолок</h3>
        </div>
        <div class="item services__item_crop">
            <picture>
                <source
                    type="image/webp"
                    srcset="
                        ./images/services/webp_f/services_2_h164_@1x.webp 1x,
                        ./images/services/webp_f/services_2_h164_@2x.webp 2x,
                        ./images/services/webp_f/services_2_h164_@3x.webp 3x"
                    media="(max-width: 340px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/services/webp_f/services_2_h232_@1x.webp 1x,
                        ./images/services/webp_f/services_2_h232_@2x.webp 2x,
                        ./images/services/webp_f/services_2_h232_@3x.webp 3x"
                    media="(max-width: 420px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/services/webp_f/services_2_h340_@1x.webp 1x,
                        ./images/services/webp_f/services_2_h340_@2x.webp 2x,
                        ./images/services/webp_f/services_2_h340_@3x.webp 3x"
                    media="(max-width: 767px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/services/webp_f/services_2_h164_@1x.webp 1x,
                        ./images/services/webp_f/services_2_h164_@2x.webp 2x,
                        ./images/services/webp_f/services_2_h164_@3x.webp 3x"
                    media="(max-width: 990px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/services/webp_f/services_2_h200_@1x.webp 1x,
                        ./images/services/webp_f/services_2_h200_@2x.webp 2x,
                        ./images/services/webp_f/services_2_h200_@3x.webp 3x"
                    media="(max-width: 1200px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/services/webp_f/services_2_h232_@1x.webp 1x,
                        ./images/services/webp_f/services_2_h232_@2x.webp 2x,
                        ./images/services/webp_f/services_2_h232_@3x.webp 3x"
                    media="(max-width: 1400px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/services/webp_f/services_2_h320_@1x.webp 1x,
                        ./images/services/webp_f/services_2_h320_@2x.webp 2x,
                        ./images/services/webp_f/services_2_h320_@3x.webp 3x"
                    media="(max-width: 1720px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/services/webp_f/services_2_h340_@1x.webp 1x,
                        ./images/services/webp_f/services_2_h340_@2x.webp 2x,
                        ./images/services/webp_f/services_2_h340_@3x.webp 3x"
                    media="(max-width: 1920px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/services/jpg_f/services_2_h164_@1x.jpg 1x,
                        ./images/services/jpg_f/services_2_h164_@2x.jpg 2x,
                        ./images/services/jpg_f/services_2_h164_@3x.jpg 3x"
                    media="(max-width: 340px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/services/jpg_f/services_2_h232_@1x.jpg 1x,
                        ./images/services/jpg_f/services_2_h232_@2x.jpg 2x,
                        ./images/services/jpg_f/services_2_h232_@3x.jpg 3x"
                    media="(max-width: 420px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/services/jpg_f/services_2_h340_@1x.jpg 1x,
                        ./images/services/jpg_f/services_2_h340_@2x.jpg 2x,
                        ./images/services/jpg_f/services_2_h340_@3x.jpg 3x"
                    media="(max-width: 767px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/services/jpg_f/services_2_h164_@1x.jpg 1x,
                        ./images/services/jpg_f/services_2_h164_@2x.jpg 2x,
                        ./images/services/jpg_f/services_2_h164_@3x.jpg 3x"
                    media="(max-width: 990px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/services/jpg_f/services_2_h200_@1x.jpg 1x,
                        ./images/services/jpg_f/services_2_h200_@2x.jpg 2x,
                        ./images/services/jpg_f/services_2_h200_@3x.jpg 3x"
                    media="(max-width: 1200px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/services/jpg_f/services_2_h232_@1x.jpg 1x,
                        ./images/services/jpg_f/services_2_h232_@2x.jpg 2x,
                        ./images/services/jpg_f/services_2_h232_@3x.jpg 3x"
                    media="(max-width: 1400px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/services/jpg_f/services_2_h320_@1x.jpg 1x,
                        ./images/services/jpg_f/services_2_h320_@2x.jpg 2x,
                        ./images/services/jpg_f/services_2_h320_@3x.jpg 3x"
                    media="(max-width: 1720px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/services/jpg_f/services_2_h340_@1x.jpg 1x,
                        ./images/services/jpg_f/services_2_h340_@2x.jpg 2x,
                        ./images/services/jpg_f/services_2_h340_@3x.jpg 3x"
                    media="(max-width: 1920px)"/>
                <img class="item__image" src="./images/services/jpg_f/services_2_h340_@1x.jpg" alt="Светлые потолки">
            </picture>
        </div>
        <div class="item item_shadow services__item">
            <h2 class="item__heading item__heading_small">постремонтная помощь</h2>
            <h3 class="text item__text item__text_small">Если ваше имущество пострадало в результате затопления или других механических повреждений, мы сможем восстановить его по льготной цене</h3>
        </div>
    </div>
</section>