<section class="faq section-faq" id="faq">
    <h2 class="heading heading_small faq__heading">частые вопросы</h2>
    <div class="faq__questions">
        <ul class="list">
            <li class="list__item" data-has-children>
                <button class="list__btn text" aria-expanded="false" aria-controls="faq__item1">
                    Какие бывают виды качества?
                </button>
                <ul class="list" id="faq__item1" hidden>
                    <li class="list__item">1 Наши услуги намного дешевле, чем нанимать не профессионалов. После их некачественной работы все равно придется искать опытных маляров. При этом нужно будет демонтировать старую работу, заплатить новой бригаде и снова вложиться в материалы.</li>
                </ul>
            </li>
            <li class="list__item" data-has-children>
                <button class="list__btn text" aria-expanded="false" aria-controls="faq__item2">
                    Как понять какое качество нужно вам?
                </button>
                <ul class="list" id="faq__item2" hidden>
                    <li class="list__item">2 Наши услуги намного дешевле, чем нанимать не профессионалов. После их некачественной работы все равно придется искать опытных маляров. При этом нужно будет демонтировать старую работу, заплатить новой бригаде и снова вложиться в материалы.</li>
                </ul>
            </li>
            <li class="list__item" data-has-children>
                <button class="list__btn text" aria-expanded="false" aria-controls="faq__item3">
                    Есть ли гарантия?
                </button>
                <ul class="list" id="faq__item3" hidden>
                    <li class="list__item">3 Наши услуги намного дешевле, чем нанимать не профессионалов. После их некачественной работы все равно придется искать опытных маляров. При этом нужно будет демонтировать старую работу, заплатить новой бригаде и снова вложиться в материалы.</li>
                </ul>
            </li>
            <li class="list__item" data-has-children>
                <button class="list__btn text" aria-expanded="false" aria-controls="faq__item4">
                    Какие сроки выполнения работ?
                </button>
                <ul class="list" id="faq__item4" hidden>
                    <li class="list__item">4 Наши услуги намного дешевле, чем нанимать не профессионалов. После их некачественной работы все равно придется искать опытных маляров. При этом нужно будет демонтировать старую работу, заплатить новой бригаде и снова вложиться в материалы.</li>
                </ul>
            </li>
            <li class="list__item" data-has-children>
                <button class="list__btn text" aria-expanded="false" aria-controls="faq__item5">
                    Чем отличается механизированная шпаклевка и покраска от обычной?
                </button>
                <ul class="list" id="faq__item5" hidden>
                    <li class="list__item">5 Наши услуги намного дешевле, чем нанимать не профессионалов. После их некачественной работы все равно придется искать опытных маляров. При этом нужно будет демонтировать старую работу, заплатить новой бригаде и снова вложиться в материалы.</li>
                </ul>
            </li>
            <li class="list__item" data-has-children>
                <button class="list__btn text" aria-expanded="false" aria-controls="faq__item6">
                    Когда бригада сможет начать работу?
                </button>
                <ul class="list" id="faq__item6" hidden>
                    <li class="list__item">6 Наши услуги намного дешевле, чем нанимать не профессионалов. После их некачественной работы все равно придется искать опытных маляров. При этом нужно будет демонтировать старую работу, заплатить новой бригаде и снова вложиться в материалы.</li>
                </ul>
            </li>
            <li class="list__item" data-has-children>
                <button class="list__btn text" aria-expanded="false" aria-controls="faq__item7">
                    Дорого ли стоят наши услуги?
                </button>
                <ul class="list" id="faq__item7" hidden>
                    <li class="list__item">7 Наши услуги намного дешевле, чем нанимать не профессионалов. После их некачественной работы все равно придется искать опытных маляров. При этом нужно будет демонтировать старую работу, заплатить новой бригаде и снова вложиться в материалы.</li>
                </ul>
            </li>
        </ul>
    </div>
</section>