<section class="stages section-stages" id="stages">
    <h2 class="heading heading_small stages__heading">этапы работ</h2>
    <div class="table_scroll">
        <table class="stages__table">
            <tr class="stages__row">
                <td class="stages__stage text text_white">шаг 1</td>
                <td class="stages__stage text text_white">шаг 2</td>
                <td class="stages__stage text text_white">шаг 3</td>
                <td class="stages__stage text text_white">шаг 4</td>
                <td class="stages__stage text text_white">шаг 5</td>
            </tr>
            <tr class="stages__row">
                <td class="stages__name text text_uppercase">выезд инженера-сметчика</td>
                <td class="stages__name text text_uppercase">заключение договора</td>
                <td class="stages__name text text_uppercase">малярные работы</td>
                <td class="stages__name text text_uppercase">контроль качества</td>
                <td class="stages__name text text_uppercase">прием и сдача объекта</td>
            </tr>
            <tr class="stages__row">
                <td class="stages__description text">Подбираем подходящую дату для проведения замера, получения консультации и составления сметы</td>
                <td class="stages__description text">Зафиксируем стоимость работ, необходимые объемы, требуемые материалы, а также условия, сроки начала и сдачи объекта</td>
                <td class="stages__description text">Бригада заходит на объект, подготавливает все необходимое для работы и начинает выполнение задач</td>
                <td class="stages__description text">Мы проверяем качество каждого этапа работ с помощью собственной или независимой системы контроля качества</td>
                <td class="stages__description text">По окончании работ вы оцениваете их качество и подписываете акт приемки</td>
            </tr>
        </table>
    </div>
    <a class="button button_black stages__button link_nodecoration" href="#form">связаться с нами</a>
</section>