<section class="portfolio section-portfolio" id="portfolio">
    <h2 class="heading heading_small portfolio__heading">портфолио</h2>
    <div class="portfolio__content">
        <div class="portfolio__item portfolio__item_normal">
            <picture>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_1_h300_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_1_h300_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_1_h300_@3x.webp 3x"
                    media="(max-width: 420px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_1_h600_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_1_h600_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_1_h600_@3x.webp 3x"
                    media="(max-width: 767px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_1_h350_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_1_h350_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_1_h350_@3x.webp 3x"
                    media="(max-width: 990px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_1_h592_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_1_h592_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_1_h592_@3x.webp 3x"
                    media="(max-width: 1200px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_1_h672_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_1_h672_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_1_h672_@3x.webp 3x"
                    media="(max-width: 1920px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_1_h300_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_1_h300_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_1_h300_@3x.jpg 3x"
                    media="(max-width: 420px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_1_h600_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_1_h600_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_1_h600_@3x.jpg 3x"
                    media="(max-width: 767px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_1_h350_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_1_h350_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_1_h350_@3x.jpg 3x"
                    media="(max-width: 990px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_1_h592_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_1_h592_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_1_h592_@3x.jpg 3x"
                    media="(max-width: 1200px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_1_h672_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_1_h672_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_1_h672_@3x.jpg 3x"
                    media="(max-width: 1920px)"/>
                <img class="item__image" src="./images/portfolio/jpg_f/portfolio_1_h672_@1x.jpg" alt="Фотография из портфолио светлых стен">
            </picture>
        </div>
        <div class="portfolio__item portfolio__item_small">
            <picture>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_2_h384_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_2_h384_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_2_h384_@3x.webp 3x"
                    media="(max-width: 420px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_2_h600_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_2_h600_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_2_h600_@3x.webp 3x"
                    media="(max-width: 767px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_2_h200_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_2_h200_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_2_h200_@3x.webp 3x"
                    media="(max-width: 990px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_2_h384_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_2_h384_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_2_h384_@3x.webp 3x"
                    media="(max-width: 1920px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_2_h384_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_2_h384_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_2_h384_@3x.jpg 3x"
                    media="(max-width: 420px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_2_h600_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_2_h600_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_2_h600_@3x.jpg 3x"
                    media="(max-width: 767px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_2_h200_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_2_h200_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_2_h200_@3x.jpg 3x"
                    media="(max-width: 990px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_2_h384_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_2_h384_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_2_h384_@3x.jpg 3x"
                    media="(max-width: 1920px)"/>
                <img class="item__image" src="./images/portfolio/jpg_f/portfolio_2_h384_@1x.jpg" alt="Фотография из портфолио светлых стен">
            </picture>
        </div>
        <div class="portfolio__item portfolio__item_normal">
            <picture>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_3_h300_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_3_h300_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_3_h300_@3x.webp 3x"
                    media="(max-width: 420px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_3_h600_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_3_h600_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_3_h600_@3x.webp 3x"
                    media="(max-width: 767px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_3_h350_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_3_h350_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_3_h350_@3x.webp 3x"
                    media="(max-width: 990px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_3_h592_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_3_h592_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_3_h592_@3x.webp 3x"
                    media="(max-width: 1200px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_3_h672_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_3_h672_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_3_h672_@3x.webp 3x"
                    media="(max-width: 1920px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_3_h300_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_3_h300_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_3_h300_@3x.jpg 3x"
                    media="(max-width: 420px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_3_h600_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_3_h600_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_3_h600_@3x.jpg 3x"
                    media="(max-width: 767px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_3_h350_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_3_h350_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_3_h350_@3x.jpg 3x"
                    media="(max-width: 990px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_3_h592_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_3_h592_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_3_h592_@3x.jpg 3x"
                    media="(max-width: 1200px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_3_h672_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_3_h672_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_3_h672_@3x.jpg 3x"
                    media="(max-width: 1920px)"/>
                <img class="item__image" src="./images/portfolio/jpg_f/portfolio_3_h672_@1x.jpg" alt="Фотография из портфолио белых стен">
            </picture>
        </div>
        <div class="portfolio__item portfolio__item_normal">
            <picture>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_4_h300_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_4_h300_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_4_h300_@3x.webp 3x"
                    media="(max-width: 420px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_4_h600_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_4_h600_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_4_h600_@3x.webp 3x"
                    media="(max-width: 767px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_4_h350_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_4_h350_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_4_h350_@3x.webp 3x"
                    media="(max-width: 990px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_4_h592_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_4_h592_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_4_h592_@3x.webp 3x"
                    media="(max-width: 1200px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_4_h672_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_4_h672_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_4_h672_@3x.webp 3x"
                    media="(max-width: 1920px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_4_h300_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_4_h300_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_4_h300_@3x.jpg 3x"
                    media="(max-width: 420px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_4_h600_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_4_h600_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_4_h600_@3x.jpg 3x"
                    media="(max-width: 767px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_4_h350_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_4_h350_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_4_h350_@3x.jpg 3x"
                    media="(max-width: 990px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_4_h592_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_4_h592_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_4_h592_@3x.jpg 3x"
                    media="(max-width: 1200px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_4_h672_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_4_h672_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_4_h672_@3x.jpg 3x"
                    media="(max-width: 1920px)"/>
                <img class="item__image" src="./images/portfolio/jpg_f/portfolio_4_h672_@1x.jpg" alt="Фотография из портфолио светлых стен">
            </picture>
        </div>
        <div class="portfolio__item portfolio__item_small">
            <picture>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_5_h384_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_5_h384_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_5_h384_@3x.webp 3x"
                    media="(max-width: 420px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_5_h600_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_5_h600_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_5_h600_@3x.webp 3x"
                    media="(max-width: 767px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_5_h200_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_5_h200_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_5_h200_@3x.webp 3x"
                    media="(max-width: 990px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_5_h384_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_5_h384_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_5_h384_@3x.webp 3x"
                    media="(max-width: 1920px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_5_h384_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_5_h384_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_5_h384_@3x.jpg 3x"
                    media="(max-width: 420px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_5_h600_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_5_h600_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_5_h600_@3x.jpg 3x"
                    media="(max-width: 767px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_5_h200_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_5_h200_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_5_h200_@3x.jpg 3x"
                    media="(max-width: 990px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_5_h384_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_5_h384_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_5_h384_@3x.jpg 3x"
                    media="(max-width: 1920px)"/>
                <img class="item__image" src="./images/portfolio/jpg_f/portfolio_5_h384_@1x.jpg" alt="Фотография из портфолио синих стен">
            </picture>
        </div>
        <div class="portfolio__item portfolio__item_normal">
            <picture>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_6_h300_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_6_h300_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_6_h300_@3x.webp 3x"
                    media="(max-width: 420px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_6_h600_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_6_h600_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_6_h600_@3x.webp 3x"
                    media="(max-width: 767px)"/>
                <source
                    type="image/webp"                
                    srcset="
                        ./images/portfolio/webp_f/portfolio_6_h350_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_6_h350_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_6_h350_@3x.webp 3x"
                    media="(max-width: 990px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_6_h592_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_6_h592_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_6_h592_@3x.webp 3x"
                    media="(max-width: 1200px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_6_h672_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_6_h672_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_6_h672_@3x.webp 3x"
                    media="(max-width: 1920px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_6_h300_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_6_h300_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_6_h300_@3x.jpg 3x"
                    media="(max-width: 420px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_6_h600_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_6_h600_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_6_h600_@3x.jpg 3x"
                    media="(max-width: 767px)"/>
                <source
                    type="image/jpeg"                
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_6_h350_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_6_h350_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_6_h350_@3x.jpg 3x"
                    media="(max-width: 990px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_6_h592_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_6_h592_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_6_h592_@3x.jpg 3x"
                    media="(max-width: 1200px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_6_h672_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_6_h672_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_6_h672_@3x.jpg 3x"
                    media="(max-width: 1920px)"/>
                <img class="item__image" src="./images/portfolio/jpg_f/portfolio_6_h672_@1x.jpg" alt="Фотография из портфолио белых стен">
            </picture>
        </div>
        <div class="portfolio__item portfolio__item_normal">
            <picture>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_7_h300_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_7_h300_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_7_h300_@3x.webp 3x"
                    media="(max-width: 420px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_7_h600_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_7_h600_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_7_h600_@3x.webp 3x"
                    media="(max-width: 767px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_7_h350_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_7_h350_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_7_h350_@3x.webp 3x"
                    media="(max-width: 990px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_7_h592_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_7_h592_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_7_h592_@3x.webp 3x"
                    media="(max-width: 1200px)"/>
                <source
                    type="image/webp"
                    srcset="
                        ./images/portfolio/webp_f/portfolio_7_h672_@1x.webp 1x,
                        ./images/portfolio/webp_f/portfolio_7_h672_@2x.webp 2x,
                        ./images/portfolio/webp_f/portfolio_7_h672_@3x.webp 3x"
                    media="(max-width: 1920px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_7_h300_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_7_h300_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_7_h300_@3x.jpg 3x"
                    media="(max-width: 420px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_7_h600_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_7_h600_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_7_h600_@3x.jpg 3x"
                    media="(max-width: 767px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_7_h350_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_7_h350_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_7_h350_@3x.jpg 3x"
                    media="(max-width: 990px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_7_h592_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_7_h592_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_7_h592_@3x.jpg 3x"
                    media="(max-width: 1200px)"/>
                <source
                    type="image/jpeg"
                    srcset="
                        ./images/portfolio/jpg_f/portfolio_7_h672_@1x.jpg 1x,
                        ./images/portfolio/jpg_f/portfolio_7_h672_@2x.jpg 2x,
                        ./images/portfolio/jpg_f/portfolio_7_h672_@3x.jpg 3x"
                    media="(max-width: 1920px)"/>
                <img class="item__image" src="./images/portfolio/jpg_f/portfolio_7_h672_@1x.jpg" alt="Фотография из портфолио синих фактурных стен">
            </picture>
        </div>
    </div>
</section>