<section class="advantages section-advantages">
    <h2 class="heading heading_line-height_1 advantages__heading">почему мы?</h2>
    <p class="text">Мы часто приходим к клиентам, разочарованным результатом других подрядчиков, и слышим: "Почему мы не нашли вас раньше?" Делайте ремонт с удовольствием и с первого раза - обратитесь к профессионалам.</p>
    <p class="text">Наш опыт и знания позволяют достигать результатов с первого раза и минимальными затратами. Доверьтесь нам и убедитесь, что качество и скорость могут идти рука об руку.</p>
    <div class="element_empty"></div>
    <div class="element">
        <div class="item">
            <h2 class="heading advantages-item__heading">15</h2>
            <h3 class="text">лет средний стаж мастеров</h3>
        </div>
        <div class="item">
            <h2 class="heading advantages-item__heading">36</h2>
            <h3 class="text">среднее количество объектов в год</h3>
        </div>
    </div>
    <div class="element">
        <div class="item">
            <h2 class="heading advantages-item__heading">94%</h2>
            <h3 class="text">объектов, завершенных в срок</h3>
        </div>
    </div>
</section>