<section class="cost section-cost" id="cost">
    <h2 class="heading heading_small cost__heading">расчет стоимости</h2>
    <p class="text">Часто заказчики сравнивают по итоговой цене, но специфика малярных работ не позволяет однобоко называть цену за подготовку: иногда достаточно 12 процессов чтобы добиться нужного результата, а порой нужны все 36.</p>
    <p class="text">Но конкретную технологическую карту под объект составляет сметчик, который компетентен определить нужное качество при вашем освещении в помещении и цветах интерьера.</p>
    <table class="cost__table">
        <tr class="cost__row">
            <td class="cost__name text">Обеспыливание</td>
            <td class="cost__cost text">20 ₽</td>
        </tr>
        <tr class="cost__row">
            <td class="cost__name text">Грунтование</td>
            <td class="cost__cost text">35 ₽</td>
        </tr>
        <tr class="cost__row">
            <td class="cost__name text">Шпаклевание (цена за слой)</td>
            <td class="cost__cost text">120 ₽</td>
        </tr>
        <tr class="cost__row">
            <td class="cost__name text">Поклейка стеклохолоста</td>
            <td class="cost__cost text">140 ₽</td>
        </tr>
        <tr class="cost__row">
            <td class="cost__name text">Отшкуривание</td>
            <td class="cost__cost text">115 ₽</td>
        </tr>
        <tr class="cost__row">
            <td class="cost__name text">Покраска грунт-краской (первый слой)</td>
            <td class="cost__cost text">180 ₽</td>
        </tr>
        <tr class="cost__row">
            <td class="cost__name text">Покраска финишный слой</td>
            <td class="cost__cost text">220 ₽</td>
        </tr>
    </table>
</section>