<header class="header" id="header">
    <div class="logo header__logo"></div>
    <nav class="navigation header__navigation">
        <ul class="navigation__content">
            <li class="navigation__item"><a class="link_nodecoration links-scroll_js" href="#common">почему мы</a></li>
            <li class="navigation__item"><a class="link_nodecoration links-scroll_js" href="#services">услуги</a></li>
            <li class="navigation__item"><a class="link_nodecoration links-scroll_js" href="#cost">стоимость</a></li>
            <li class="navigation__item"><a class="link_nodecoration links-scroll_js" href="#portfolio">портфолио</a></li>
            <li class="navigation__item"><a class="link_nodecoration links-scroll_js" href="#stages">этапы</a></li>
        </ul>
    </nav>
    <div class="header__interactive">
        <a class="link_nodecoration contacts header__contacts" href="tel:+79999999999"><p class="text text_width_100">+7(999) 999-99-99</p></a>
        <button class="button_small header__button header__button_open button" type="button" aria-haspopup="menu" aria-controls="header__popup"></button>
        <dialog class="modal-window header__modal" aria-label="Menu" id="header__popup">
            <div class="modal-window__content">
                <button class="modal__button_close"></button>
                <div class="logo modal-window__logo"></div>
                <nav class="navigation modal-window__navigation">
                    <ul class="navigation__content_column">
                        <li class="navigation__item navigation__item_block"><a class="link_nodecoration links-modal-scroll_js" href="#common">почему мы?</a></li>
                        <li class="navigation__item navigation__item_block"><a class="link_nodecoration links-modal-scroll_js" href="#services">услуги</a></li>
                        <li class="navigation__item navigation__item_block"><a class="link_nodecoration links-modal-scroll_js" href="#cost">расчет стоимости</a></li>
                        <li class="navigation__item navigation__item_block"><a class="link_nodecoration links-modal-scroll_js" href="#portfolio">портфолио</a></li>
                        <li class="navigation__item navigation__item_block"><a class="link_nodecoration links-modal-scroll_js" href="#stages">этапы работ</a></li>
                        <li class="navigation__item navigation__item_block"><a class="link_nodecoration links-modal-scroll_js" href="#faq">частые вопросы</a></li>
                    </ul>
                </nav>
                <a class="button button_black modal-window__button link_nodecoration" href="#form">связаться с нами</a>
                <a class="link_nodecoration modal-window__contacts" href="tel:+79999999999"><p class="text text_width_100">+7(999) 999-99-99</p></a>
                <a class="link_nodecoration modal-window__contacts" href="mailto:test@test.com"><p class="text text_width_100">test@test.com</p></a>
            </div>
        </dialog>
    </div>
</header>