<section class="common section-common" id="common">
    <div class="common-information">
        <h1 class="heading text_white common-information__heading">ремонт без переделок</h1>
        <h2 class="subtitle">Шпаклевка стен под обои и покраску механизированным и ручным способом. Безвоздушная покраска и покраска валиком.<br/>Мы ваше лучшее решение в малярных работах.</h2>
        <a class="button common-information__button link_nodecoration" href="#form">связаться с нами</a>
        <a class="button button_transparent common-information__button link_nodecoration" href="#services">узнать об услугах</a>
    </div>
    <div class="common-advantages">
        <div class="item">
            <h3 class="item__heading">быстро</h3>
            <hr class="devider">
            <p class="text item__text">Собрали для вас команду опытных профессионалов, знающих свое дело и умеющих работать вместе</p>
        </div>
        <div class="item">
            <h3 class="item__heading">качественно</h3>
            <hr class="devider devider_red">
            <p class="text item__text">Работаем согласно ГОСТам и СНиПам, поможем с выбором материалов и учтем все ваши пожелания</p>
        </div>
        <div class="item">
            <h3 class="item__heading">надежно</h3>
            <hr class="devider devider_yellow">
            <p class="text item__text">Полностью уверены в качестве и даем гарантию год на все виды предоставляемых работ</p>
        </div>
    </div>
</section>